#paper-clip-animation {
    display: flex;
    width: 50px;
    height: 50px;
    position: relative;
    border: 4px grey solid;
    border-radius: 30px;
    transition: 0.7s;
    cursor: pointer;
    float: left;
    padding: 5px;
    
}

#paper-clip-animation object, #paper-clip-animation img {
    width: 30px;
    height: 30px;
    transition: 0.7s;
}

#paper-clip-animation:hover object, #paper-clip-animation:hover img {
    width: 40px;
    height: 40px;
}

#paper-clip-animation:hover {
    width: 60px;
    height: 60px;
}

.slidingnav {
    z-index: 100;
    position: absolute;

    right: -500px;
    top: 0;
    width: 500px;
    height: 100%;
    transition: 2s;
}

.showslidingnav {
    transition: 2s;
    right: -10px;
}

/* Oval Animation */
.oval {
    transition: 1s;
    bottom: 20px;
    position: absolute;
    left: calc((100% - 30px) / 2);
    width: 30px;
    height: 60px;
    border: 2px aqua solid;
    background: transparent;
    border-radius: 40px;
    opacity: 0;
    }
    
.oval::after {
    content: "";
    margin-left: calc((100% - 20px) / 2);
    width: 0; 
    height: 0; 
    top: 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    border-top: 10px solid aqua;
    animation: infinite updownscroll 3s forwards;
}

@keyframes updownscroll {
    0% {
        top: 10px;
        opacity: 1;
    }
    100% {
        top: 40px;
        opacity: 0;
    }
}
  
  @keyframes bottomright {
    0% {
      width: 0;
      height: 0;
      padding-top: 0;
      visibility: visible;
    }
    25% {
      width: 100%;
      height: 0;
      padding-top: 0;
      visibility: visible;
    }
    50% {
      height: 100%;
      width: 100%;
      visibility: visible;
    }
    75% {
      visibility: visible;
    }
    100% {
      visibility: visible;
    }
  }
  
  @keyframes revbottomright {
    0% {
      width: 100%;
      height: 100%;
      visibility: visible;
    }
    25% {
      width: 100%;
      height: 100%;
      visibility: visible;
    }
    50% {
      width: 100%;
      height: 100%;
      visibility: visible;
    }
    75% {
      width: 100%;
      height: 0;
      padding-top: 0;
      visibility: visible;
    }
    100% {
      width: 0;
      height: 0;
      padding-top: 0;
      visibility: hidden;
    }
  }
  
  @keyframes topleft {
    0% {
      width: 0;
      height: 0;
      padding-bottom: 0;
      visibility: hidden;
    }
    25% {
      width: 0;
      height: 0;
      padding-bottom: 0;
      visibility: hidden;
    }
    50% {
      width: 0;
      height: 0;
      padding-bottom: 0;
      visibility: hidden;
    }
    75% {
      width: 100%;
      height: 0;
      padding-bottom: 0;
      visibility: visible;
    }
    100% {
      width: 100%;
      height: 100%;
      opacity: 1;
      visibility: visible;
    }
  }
  
  @keyframes revtopleft {
    0% {
      width: 100%;
      height: 100%;
      opacity: 1;
      visibility: visible;
    }
    25% {
      width: 100%;
      height: 0;
      padding-bottom: 0;
      visibility: visible;
    }
    50% {
      width: 0;
      height: 0;
      padding-bottom: 0;
      visibility: hidden;
    }
    75% {
      width: 0;
      height: 0;
      padding-bottom: 0;
      visibility: hidden;
    }
    100% {
      width: 0;
      height: 0;
      padding-bottom: 0;
      visibility: hidden;
    }
  }
  
  .animatedrawbox {
    color: #333;
    transition: color 0.75s ease-in-out;
  }
  
  .animatedrawbox:after {
    content: "";
    position: absolute;
    bottom: -5px;
    padding-right: 5px;
    left: -5px;
    width: 100%;
    height: 100%;
    border-bottom: 5px solid #333;
    border-right: 5px solid #333;
    visibility: hidden;
  }
  
  .animatedrawbox:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    padding-left: 5px;
    width: 100%;
    height: 100%;
    border-top: 5px solid #333;
    border-left: 5px solid #333;
    visibility: hidden;
  }
  
  .animatedrawbox:before {
    animation: topleft 0.5s ease-in-out forwards;
  }
  
  .animatedrawbox:after {
    animation: bottomright 0.5s ease-in-out forwards;
  }
  
  .animatedrawbox:before {
    animation: revtopleft 0.5s ease-in-out forwards;
  }
  
  .animatedrawbox.active:after {
    animation: revbottomright 0.5s ease-in-out forwards;
  }
  
  .animatedrawbox.active:before,
  .animatedrawbox.active:after {
    width: 100%;
    height: 100%;
    visibility: visible;
  }
  
  .animatedrawbox.temp:before,  .animatedrawbox.temp:after {
    width: 100%;
    height: 100%;
    visibility: visible;
  }