@media only screen and (max-width: 1250px) and (min-width: 800px) {
    .logo-title {
        width: 100%;
        top: 70px !important;
        text-align: center;
        font-size: 50px;
        position: absolute;
        left: 0;
        animation: none !important;
    }

    .menu {
        width: 100%;
        justify-content: center;
    }
    .menu li a {
        color: white;
    }

}

@media only screen and (max-width: 1440px) {
    h4.off-center.bold {
        height: 2.5em;
    }
}

@media only screen and (max-width: 800px) {

    .we-are-team-svg-small-mobile {
        display: block;
        width: 300px;
        position: absolute;
        left: calc((60% / 2) - 150px);
        top: -20px;
    }

    .completed-forms {
        left: 20px;
        top: 20px;
    }

    .signature {
        top: 150px;
      }


    .navbar-header {
        top: 40px;
position: absolute;
width: 100%;
left: 0;
    }
    .hamburgernav {
        z-index: 101;
        display: block;
    }

    #about-us {
        overflow: hidden;
    }

    .menu {
        display: none;
    }
    .contact-container {
        flex-direction: column;
    }
    #our-team {
        padding-bottom: 50px;
        height: auto;
        flex-direction: column;
    }
    
    .feature1-image>img {
        width: 90%;
        height: auto;
    }

    .questionaire-text-area h2 {
        margin-top: 25%;
        font-size: 30px;
    }

    .questionaire-text-area button {
        width: 70%;
        left: 15%;
    }

    .show-people {
        position: relative;
        height: auto;
        width: 85%;
        top: 10%;        
        display: flex;
        justify-content: center;
    }

    .person-photo {
        align-self: center;
        left: auto;
        top: 0;
    }

    #mobilenavlist {
        visibility: hidden;
        text-align: center;
        z-index: -5;
        list-style: none;
        font-size: 20px;
        width: 90vw;
        min-width: 400px;
        max-width: 500px;
        top: 50px;
        right: -20px;
        position: absolute;
        color: #010B15;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: opacity 0.7s;
        transition-delay: 0;
    }

    #mobilenavlist li {
        display: block;
        margin: 10px 5px;
        background: transparent;
        height: auto;
        margin-top: 20px;
      }
      
    #mobilenavlist li a{
        z-index: -20;
        font-weight: 300;
        text-decoration: none;
        padding: 5px;
        letter-spacing: 2px;
        background: transparent;
        transition: 0.7s;
        color: #010B15;
        font-size: 30px;
        
      }

    #nav-mobile {
        width: 90%;
        max-width: 800px;
        height: 100%;
        position: fixed; 
        top: 0;
        right: 0;
        z-index: -5;

    }

    .close-nav {
        opacity: 0 !important;
    }

    .nodisplay {
        display: none !important;
    }

    .do-websites-matter-container-frontpage {
        flex-direction: column;
    }

    .nav-mobile {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        min-width: 400px;
        max-width: 500px;
        width: 90%;
        opacity: 1;
        transition: opacity 0.5s;
    }

    .nav-mobile-close {
        width: 90%;
max-width: 800px;
height: 100%;
position: fixed;
top: 0;
right: 0;
z-index: -5;
transition: 0.5s;
    }


    .send {
        left: 17.5%;
        width: 65% !important;
    }

    .contact-box {
        margin-top: 10px; 
        justify-content: center !important;
    }

    .caption {
        position: relative;
        padding-top: 200px;
        padding-bottom: 30px;
        width: 100%;
    }

    .contact-container {
        width: 100%;
        bottom: 10px;
        position: absolute;
        right: 0;
    }

    .we-are-team-section {
        flex-direction: column;
        height: auto;
        position: relative;
        align-items: center;
        transition: 0.7s;
        width: 90%;
        left: 5%;
        top: 50px;
        padding-bottom: 50px;
    }

    .linear-red-aqua {
        width: 250px;
    }

    .contact {
        width: 180px;
        margin-left: 0px;
    }

    .featured-project-text {
        opacity: 0;
        display: none;
        
      }

      .feature1-image {
        width: 100%;
        height: 50%;
        
      }

      .portfolioimg {
          left: auto;
          right: 0;

      }

      .feature1-desc {
        width: 100%;
        top: 50%;
        height: 50%;
      }

      .the-featured-page {
          position: absolute;
          height: 600px;
      }

      .feature1-desc > p {
          font-size: 13px;
          width: 100%;
      }

      .flip {
        width: 95%;
        left: 2.5%;
      }

      #bottom-section {
        height: 900px;
      }

    /* General CSS rules for mobile */

    .flex-mobile-column {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }



    /* SVG Styling */
    .svg-we-are-team {
        opacity: 0;
    }
    
    .svg-about-us {
        width: 1000px;
        margin-top: 0px;
    }
    
    #test {
        width: 3000px;
    }

    .aqua-top-bottom {
        width: 90%;
        margin-left: 0;
    }

    .do-websites-matter-container-frontpage {
        top: 30%;
    }

    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 30px;
    }

    .projectcontainer .feature1-desc {
        height: 100%;
        top: 0;
    }

    .portfoliocaption {
        right:auto;
        left: 0;
        width: 50%;
        top: 0;
    }
    .logo-title {
        width: 100%;
        top: 70px;
        text-align: center;
        font-size: 50px;
        position: absolute;
        left: 0;
        animation: none !important;
    }

    .main-background {
        left: 5%;
    }

    #frontpage-text {
        font-size: 30px;
        line-height: 1em;
    }

    .header-front-page {
        font-size: 50px;
    }

    .form input[type="text"], .form input[type="number"], .form input[type="email"] {
        width: 100%;
        margin: 5% 0;
        text-align: left;
    }

    #project-info::placeholder {
        text-align: left;
    }

    input[type="text"]::placeholder, input[type="number"]::placeholder, input[type="email"]::placeholder {
        text-align: left;
      }

      #project-info {
        text-align: left;
        height: 3em;
        margin: 5% 0;
    }


  }




